<html>
    <head>
        <title>Info Page</title>
        <link rel="stylesheet" href="../css/info.css">
    </head>
    <body>
        <header>
			<a href="" class="logo">DUIDOL.</a>
            <ul class="navigation">
                <% if (session.loggedin) { %>
                    <li>Hi, <%= session.email %></a></li>
                <% } %> 
                <li><a href="/">Home</a></li>
                <li><a href="/items/album">Items</a></li>
                <li><a href="/idol_list?page=1">Idol List</a></li>
                <% if (session.loggedin) { %>
                    <li><a href="/myaccount">My account</a></li>
                    <li><a href="/logout">Log out</a></li>
                <% } else { %> 
                    <li><a href="/login" >Login</a></li>
                    <li><a href="/register">Sign up</a></li>
                <% } %> 
                <!-- <li><a href="">About Us</a></li> -->
            </ul>
		</header>
        <div class="p0">
            <h1><span>All about</span><%=infos.name %></h1>
        </div>
        <div class="p1">
            <div class="p1-1">
                <button class="preBtn" onclick="plusIdol(-1)">&#10094</button>
                <button class="nextBtn" onclick="plusIdol(1)">&#10095</button>
                
                <div class="idol">
                    <div class="overlay">
                        <div class="text">Download</div>
                        <div class>
                            <form action="/info/:id" method="post" id="form" target="frame">
                                <a href="<%=infos.main_image %>" download>
                                <% if (session.loggedin) { %>
                                    <img src="../image/down-icon.png" onclick="document.getElementById('form').submit()">
                                    <input type="hidden" name="src" value="<%=infos.main_image %>">
                                <% } %> 
                                </a>
                            </form>
                            <iframe name="frame" style="position: absolute; top: -1px; left: -1px; height: 1px; display: none;"></iframe>
                        </div>
                    </div>
                    <div class="image">
                        <img src="<%=infos.main_image %>" alt="pic of idol">
                    </div>

                </div>  
                <% for(var i=0; i< infos.sub_image.length; i++) { %>
                    <div class="idol">
                        <div class="overlay">
                            <div class="text">Download</div>
                            <div class>
                                <form action="/info/:id" method="post" id="form<%=i%>" target="frame">
                                    <a href="<%=infos.main_image %>" download>
                                    <% if (session.loggedin) { %>
                                        <input type="hidden" name="src" value="<%=infos.sub_image[i]%>">
                                        <img src="../image/down-icon.png" onclick="document.getElementById('form<%=i%>').submit()">
                                        
                                    <% } %> 
                                    </a>
                                </form>
                                <iframe name="frame" style="position: absolute; top: -1px; left: -1px; height: 1px; display: none;"></iframe>
                            </div>
                        </div>
                        <div class="image">
                            <img src="<%=infos.sub_image[i] %>" alt="pic of idol">
                        </div>
                    </div>
				<% } %>              
            </div>
            <div class="p1-2">
                <p>
                    <%=infos.description%>    
                </p>
            </div>
        </div>
        <div class="p2">
            <h2>Danh sách đĩa nhạc</h2>
            <div class="p2-1">
                <% infos.products.forEach((product) => { %>
                    <a href="<%=product.link %>" target="_blank">
                        <div class="album">
                            <div class="imgIdol">
                                <img src="../image/album1.png" alt="album1">
                            </div>
                             <div class="albname"><%=product.al_name %></div>
                        </div>
                    </a>  
				<% }); %>  
            </div>       
        </div>
        <div class="p3">
            <div class="p3-1">
                <h2>Where to find ATEEZ</h2>
                <div class="sns">
                    <a href="https://facebook.com/ATEEZofficial"><img src="../image/facebook.jpg" alt="sns"></a>
                    <a href="https://facebook.com/ATEEZofficial"><img src="../image/insta.jpg" alt="sns"></a>
                    <a href="https://facebook.com/ATEEZofficial"><img src="../image/twitter.jpg" alt="sns"></a>
                    <a href="https://facebook.com/ATEEZofficial"><img src="../image/vlive.png" alt="sns"></a>
                    <a href="https://facebook.com/ATEEZofficial"><img src="../image/yt.jpg" alt="sns"></a>
                </div>                 
            </div>
            <div class="p3-2">
                    <img src="<%=infos.main_image %>" alt="pic of idol">
            </div>
        </div>
        <footer>
			<div class="container">
				<div class="row">
					<div class="footer-col">
						<h4>Help</h4>
						<ul>
							<li><a href="">How to...?</a>
							<li><a href="">Use</a>
						</ul>
					</div>
					<div class="footer-col">
						<h4>Contact us</h4>
						<ul>
							<li><img src="../image/address_icon.jpg">
							<p>Hanoi University of <br>Science and Technology</p>
							<li><img src="../image/phone_icon.png">
							<p>(+84) 123 456 789</p>
							<li><img src="../image/mail_icon.png">
							<p>duidol@sis.hust.edu.vn</p>
						</ul>
					</div>
				</div>
				<div class="copyrightText"><p>© All rights reserved</p></div>
			</div>
		</footer>
        <script src="../javascript/info.js"></script>   
    </body>
</html>